nav{
  z-index: 1;
}
#thumbnail{
  width: min(90% - 350px,600px);
}
.button{
  z-index: 1;
  text-align: center;
  height: 30px;
  width: 200px;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.button:hover{
  filter: brightness(1.5);
}
#side{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  text-align: center;
  background-color: #fffcdb;
}
#projectName{
  height: 50px;
  font-size: 50px;
}
#tag > a{
  background-color: #9ef5ff5a;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #8ab4f8;
  margin: 5px;
}
#urls > a{
  color: #8ab4f8;
}
#tag > a,#urls > a:visited{
  color: #8ab4f8;
}
